<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<div>
  <h1 class='leftalign'>
    Welcome to {{title}}!
  </h1>
  <div *ngIf='displaySuccess' class='centered'>
    <p>
      thank you for registering with us, {{ user.first_name }}!
    </p>
    <p>
      your email confirmation will be going to {{ user.email }}, and physical mail will be sent to {{ user.st_address }}
    </p>
    <form (submit)='clearForm()'>
      <input type='submit'>
    </form>
  </div>
</div>
<hr><hr>



<form (submit)='chkAndSubmit()'>

    first name
    <input 
    type="text" 
    name="email"
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="user.email"
    #email="ngModel">
    <input type='text' name='first_name' required [(ngModel)]='user.first_name'>
  <hr>

  <span [ngStyle]="{'background-color':fields.last_name.color}">
    last name
    <input type='text' name='last_name' required [(ngModel)]='user.last_name'>
  </span>
  <hr>

  <span [ngStyle]="{'background-color':fields.email.color}">
    email
    <input type='text' name='email' [(ngModel)]='user.email'>
  </span>
  <hr>

  <span [ngStyle]="{'background-color':fields.password.color}">
    password
    <input type='password' name='password' [(ngModel)]='user.password'>
  </span>
  <hr>
  <span [ngStyle]="{'background-color':fields.pw_confirm.color}">
    confirm password
    <input type='password' name='confirm password' [(ngModel)]='user.pw_confirm'>
  </span>
  <hr>
  <span [ngStyle]="{'background-color':fields.st_address.color}">
    street address
    <input type='text' name='street address' [(ngModel)]='user.st_address'>
  </span>
  <hr>

  apartment number (optional)
  <input type='text' name='apartment number' [(ngModel)]='user.apt_no'>
  <hr>
  state
  <select type='text' name='state' [(ngModel)]='user.state'>
    <option *ngFor='let state of usStates'>
      {{ state }}
    </option>
  </select>
  <hr>
    are you feeling lucky?
    <label for='feels_lucky'>
      yes
      <input type='radio' name='feels_lucky' value='yes' checked='checked'>
    </label>
    <label>
      no
      <input type='radio' name='feels_lucky' value='no'>
    </label>
    <hr>    
    <input type='submit' value='submit registration'>
  <hr>
  </form>
